@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 , #api{
color: #000;
text-shadow: 0px 4px 4px #00000040;
font-family:'Josefin Slab', serif;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}